.sans-serif {
    font-family: sans-serif;
}



#ingredientes {
    background-color: rgb(75, 150, 75);
    font-family: sans-serif;
    font-size: 24px;
}

#modo-d-preparo {
    background-color: blue;

    h2 {
        font-size: 48px;
        color: red;
        font-family: 'Times New Roman';
    }
}